---
import Layout from '../../../layouts/Layout.astro';
import Pastilla from '../../../components/ActAcademicas/detalle/Pastilla.astro'; 
import Banner from '../../../components/ActAcademicas/detalle/Banner.astro';
import TextoPDF from '../../../components/ActAcademicas/TextoInformativo.astro';
import SectionDocente from '../../../components/ActAcademicas/detalle/SectionDocente.astro'; 
import InfoExtra from '../../../components/ActAcademicas/detalle/InfoExtra.astro';
import CardSide from '../../../components/ActAcademicas/detalle/CardSide.astro';
import Certificado from '../../../components/ActAcademicas/detalle/Certificado.astro';

import { db } from '../../../firebase/client';
import { doc, getDoc } from 'firebase/firestore';
import { getStorage, ref, getDownloadURL } from 'firebase/storage';

interface Props {
  id: string;
}

const { id } = Astro.params;
const courseDoc = doc(db, 'posts', id);
const courseData = await getDoc(courseDoc);

const imageUrl = courseData.data()?.imageUrl;
const imageRef = ref(getStorage(), imageUrl);
const imageUrlWithDownload = await getDownloadURL(imageRef);

const teachers = courseData.data()?.teachers || []; // Obtenemos el array de profesores

// Obtener el URL del PDF
const pdfUrl = courseData.data()?.pdfUrl;
---

<Layout title={courseData.data()?.title}>
  <div class="flex justify-between items-center">
    <Pastilla title="Información del curso" />
    <button class="hover:scale-105 transition-all duration-300 ease-in-out mr-56">
      <a href={`./${id}/edit`} class="font-bold bg-customBlue text-white px-4 py-2 rounded-xl">Editar curso</a>
    </button>
  </div>

  <Banner 
    title={courseData.data()?.title}
    image={imageUrlWithDownload}
    price={courseData.data()?.price}
    modality={courseData.data()?.modality}    
    duration={courseData.data()?.duration}
    description={courseData.data()?.description}
  />

  <TextoPDF title="Descargar el contenido del curso" sizeText="text-md md:text-xl" borderRadius="rounded-3xl">
    {pdfUrl ? (
      <a href={pdfUrl + '?alt=media'} download="Programa_Curso.pdf" class="text-md font-light underline">
        Descargar el programa en <strong>PDF</strong>
      </a>
    ) : (
      <span class="text-md font-light">No hay PDF disponible.</span>
    )}
  </TextoPDF>
  
  <!-- Pasamos los datos de los profesores a SectionDocente -->
  <SectionDocente 
    TitleSection="Profesores a cargo de la clase"
    teachers={teachers}
  />
  
  <InfoExtra 
    TitleSection="Información extra"
    duration={courseData.data()?.duration}
    day={courseData.data()?.day}
    hours={courseData.data()?.hours}
    modality={courseData.data()?.modality}
  />

  <CardSide 
    title={courseData.data()?.title}
    hours={courseData.data()?.hours}
    day={courseData.data()?.day}
    modality={courseData.data()?.modality}
    price={courseData.data()?.price}
  />
  
  <Certificado />
</Layout>
