---
import Layout from '../layouts/Layout.astro';
import EditorComponent from '../components/common/Editor';
import RoleCondition from '../components/common/RoleCondition';
import ContentHeader from '../components/common/ViewCondition';
import { db } from '../firebase/client';
import { collection, getDocs, doc, getDoc } from 'firebase/firestore';
import Card from '../components/noticias/ultNoticias'; // Importa el componente Card para mostrar cada noticia
import PageContent from '../components/views/Page';

const { slug } = Astro.params;
const pageId = slug || 'index';

// Verifica si la página existe en Firestore
const pageRef = doc(db, 'pages', pageId);
const pageSnap = await getDoc(pageRef); // Cambié getDocs por getDoc

let pageExists = pageSnap.exists();
let pageTitle = pageExists ? pageSnap.data().title || slug : 'Page Not Found';

// Traer las noticias de la base de datos
const noticiasCollection = collection(db, 'noticias');
const querySnapshot = await getDocs(noticiasCollection);
const noticias = querySnapshot.docs.map(doc => ({
  id: doc.id,
  ...doc.data()
}));

---

<Layout title={pageTitle}>
  <div class="flex justify-center items-start w-full max-w-7xl mx-auto mt-6 mb-12 ">
    <!-- Columna de últimas noticias a la izquierda (visible solo en lg) -->
    <aside class="hidden lg:block w-80">
      <h2 class="text-2xl font-bold text-gray-800">Últimas Noticias</h2>
      <ul class="mt-4 space-y-4 w-full">
        {noticias.map((noticia) => (
          <Card
            title={noticia.title}
            imageUrl={noticia.imageUrl}
            date={noticia.date}
            id={noticia.id}
            client:only="react"
          />
        ))}
      </ul>
    </aside>

    <!-- Línea separadora -->
    <div class="border-l-2 border-gray-300 mx-6 h-full"></div>

    <!-- Contenedor principal con contenido a la derecha -->
      <PageContent client:only="react" pageId={pageId} />
  </div>
</Layout>


